name: Publish

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '8.0.x'
          source-url: "https://nuget.pkg.github.com/${{github.repository_owner}}/index.json"
        env:
          NUGET_AUTH_TOKEN: ${{ secrets.PAT }}
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build -c Release
      - name: Test
        run: dotnet test tests/pathfinding.Tests -c Release --no-build
      - name: Pack pathfinding
        run: dotnet pack src/pathfinding -c Release -o ./artifacts
      - name: Pack pathfinding.Json
        run: dotnet pack src/pathfinding.Json -c Release -o ./artifacts
      - name: Publish Packages
        run: |
          for package in ./artifacts/*.nupkg; do
            dotnet nuget push "$package" \
             --source "https://nuget.pkg.github.com/${{github.repository_owner}}/index.json" \
             --api-key ${{ secrets.PAT }} \
             --skip-duplicate
          done